.heading {
    background-color: #f9f9f9;
    text-align: center;
    font-family: sans-serif;
    background-image: linear-gradient(to right, rgb(223, 234, 255), rgb(81, 120, 238));
}

body {
    background-image: linear-gradient(to right, rgb(223, 234, 255), rgb(81, 120, 238));
}

.information {
    text-align: center;
    font-family: sans-serif;
}

h1 {
    margin: 0;
    display: inline-block;
}

.takaisinPainike {

    position: absolute;
    left: 0;
    top: 8px;
}

.logo {
    display: inline-block;
}

.paikannimi {
    font-weight: normal;
    font-family: sans-serif;
    text-align: center;
}

.kohteenKuva {
    max-width: 50%;
    max-height: 50%;
    
}

#comment-box, #post {
    border: none;
    border-radius: 5px;
}
#post:hover{
    background-color: deeppink;
}