.heading {
    background-color: #f9f9f9;
    text-align: center;
    font-family: sans-serif;
}

.information {
    text-align: center;
    font-family: sans-serif;
}

h1 {
    margin: 0;
    display: inline-block;
}

.takaisinPainike {

    left: 0;
}

.logo {
    display: inline-block;
}

.paikannimi {
    font-weight: normal;
    font-family: sans-serif;
}
