.heading {
    
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 100%;
    padding: 10px;
    background-image: linear-gradient(to right, rgb(223, 234, 255), rgb(81, 120, 238));
}
body {
    background-image: linear-gradient(to right, rgb(223, 234, 255), rgb(81, 120, 238));
}

.information {
    font-weight: normal;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    margin: 0;
    display: inline-block;
}

.button1 {
    position: absolute;
    left: 0;
}

.header1 {

    display: inline-block;
}