.heading {
    background-color: #f9f9f9;
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 100%;
    padding: 10px;
    background-image: linear-gradient(to right, rgb(223, 234, 255), rgb(81, 120, 238));
}
body {
    background-image: linear-gradient(to right, rgb(223, 234, 255), rgb(81, 120, 238));
}
.information {
    text-align: center;
    font-family: sans-serif;
}

.takaisin {

    position: absolute;
    left: 0;
    top: 8px;
}

h3 {

    font-weight: normal;
}
h1 {
    margin: 0;
    display: inline-block;
    font-weight: normal;
}

.button1 {
    position: absolute;
    left: 0;
}

.header1 {

    display: inline-block;
}