.heading {
  background-color: #f9f9f9;
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 100%;
  padding: 10px;
  background-image: linear-gradient(to right, rgb(223, 234, 255), rgb(81, 120, 238));
}

body {
  background-image: linear-gradient(to right, rgb(223, 234, 255), rgb(81, 120, 238));
  text-align: center;
  position: relative;
}

.information {
  text-align: center;
  font-family: sans-serif;
}

.header1 {
  display: inline-block;
}

button {
  text-align: center;
  border: none;
  color: inherit;
  border: none;
  padding: 0;
  background: none;
  font: inherit;
  cursor: pointer;
  outline: none;
  height: 40px;
  width: 100px;
  border-radius: 10%;
}

.back {
  border: none;
  color: inherit;
  border: none;
  padding: 0;
  background: none;
  font: inherit;
  cursor: pointer;
  outline: none;
  height: 40px;
  width: 100px;
  border-radius: 10%;
  background-color: rgb(190, 200, 229);
}

h1 {
  margin: 0;
  font-size: 3vw;
  display: inline-block;
  font-weight: normal;
}

.goBack {
  position: absolute;
  left: 0;
  top: 8px;
}

#logo {
  cursor: pointer;
  font-size: 3vw;
  background-color: none;
}

.destinationName {
  font-weight: normal;
  font-family: sans-serif;
  text-align: center;
  font-size: 2vw;
}

.description {
  padding: 10px;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.6vw;
}
#comment-box,
#post {
  border: none;
  border-radius: 5px;
}

#post:hover {
  background-color: deeppink;
}

.form {
  padding: 10px;
  border: 1px solid #000;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.3vw;
}

.form input[type="text"],
.form textarea,
.form input[type="date"] {
  border: 1px solid #000;
  padding: 2px;
  width: 300px;
  font-size: 1vw;
}

.comment {
  padding: 1%;
  width: 50%;
  margin: auto;
  border: 1px solid #000;
  background-color: #91a6ec;
  margin-bottom: 10px;
  text-align: center;
}

.TitleBox {
  text-align: center;
  display: inline-block;
}

:placeholder-shown {
  text-align: center;
}

#container {
  width: 100%;
  height: 100%;
  border: #000;
}

.nameComment {
  color: black;
  padding: 1%;
  width: 50%;
  margin: auto;
  border: 1px solid #000;
  background-color: #91a6ec;
  margin-bottom: 10px;
  text-align: center;
}

.titleComment {
  color: black;
}

.commentComment {
  color: black;
}

.emailComment {
  color: black;
}

* {
  box-sizing: border-box;
}

.image-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.img {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

.previousImage,
.nextImage {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.nextImage {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.previousImage {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.previousImage:hover,
.nextImage:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: black;
  font-size: 50px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbering {
  color: black;
  font-size: 50px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}
